html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
  padding: 1rem 0 1rem 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}
.nav-links {
  width: 50%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: auto;
}

.nav-links a {
  margin: auto;
  width: 50%;
  display: flex;
  gap: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(138, 180, 248);
  text-align: center;
}

.nav-links a:visited {
  color: rgb(138, 180, 248);
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* position: static; */
    background: none;
    /* text-align: center; */
  }

  .nav-links a {
    /* display: flex; */
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
  }
  .hamburger {
    display: none;
  }

  .toc {
    width: 240px;
    margin: 10px;
    min-width: 240px;
    padding: 16px 4px 16px 10px;
    align-self: flex-start;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 48px;
    max-height: calc(100vh - 70px);
    overflow: auto;
    box-shadow: 0 0 5px hsla(269, 79%, 50%, 1);
    border-radius: 10px;
  }
}

@media screen and (max-width: 1030px) {
  .toc {
    display: none;
  }
}

/* Rounded border */
hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 5px;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

html.dark {
  background-color: #111;
  color: #fff;
}

.dark a {
  color: rgb(138, 180, 248);
}

.dark a:visited {
  color: #c58af9;
}

.dark .nav-links a,
a:visited {
  color: rgb(138, 180, 248);
}

.inline-icon {
  width: 2em;
  height: 2em;
}

.icon-class {
  margin-left: 0.5rem; /* 8px */
  margin-right: 0.5rem; /* 8px */
}

.skill {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tag a {
  color: #00539f;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.15em;
  background-color: #f8fcfd;
}

.dark .tag {
  background-color: #4b5563;
}

.dark .tag a {
  color: rgb(138, 180, 248);
}

/* footer {
  margin: auto;
  width: 50%;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
} */

/* footer div {
  margin: auto;
  width: 50%;
  display: flex;
  gap: 1rem;
} */

pre {
  box-shadow: 0 0 10px hsla(269, 79%, 50%, 1);
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
pre > code {
  display: grid;
  /* border: solid; */
}

code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);
}

code > .line::before {
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
  border-left-width: 3px;
  border-left-style: solid;
}

code[data-line-numbers-max-digits="2"] > .line::before {
  width: 1.5rem;
}

code[data-line-numbers-max-digits="3"] > .line::before {
  width: 2rem;
}

code > .highlighted {
  background-color: rgba(200, 200, 255, 0.1);
}

code > .highlighted::before {
  border-left-color: #60a5fa;
  border-left-width: 3px;
  border-left-style: solid;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
}

main {
  flex: 1;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

/* Webkit */
/* Make scrollbars transparent except for main page scrollbar. */
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar,
body::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(250, 14%, 90%, 0.2);
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
