---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import { filterDraft } from "../../utils/filterDraft";
import { sortPostByPubDate } from "../../utils/sortByDate";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const noDraftPosts = allPosts.filter(filterDraft);
  const sortedPosts = noDraftPosts.sort(sortPostByPubDate(true));

  const uniqueTags = [
    ...new Set(sortedPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = sortedPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
const description = `Posts tagged with "${tag}"`;
---

<BaseLayout meta={{ title: tag, description }}>
  <p>{description}</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost url={"/posts/" + post.slug} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
