---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { filterDraft } from "../../utils/filterDraft";

const allPosts = await getCollection("posts");
const noDraftPosts = allPosts.filter(filterDraft);

const tags = [
  ...new Set(noDraftPosts.map((post) => post.data.tags).flat()),
].sort();

const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
