---
import { identity, skills, goals } from "../../data/me.json";
import Identity from "./Identity.astro";
import Skills from "./Skills.astro";
---

<div>
  <Identity identity={identity} />
  <Skills skills={skills} />
</div>
