---
const { goals } = Astro.props;

import DateFormat from "../DateFormat.astro";
---

<div>
  <h2>My goals:</h2>
  <ul class="goals">
    {
      goals.map((goal) => (
        <li class="goal">
          {goal.title}
          <ul>
            <li>Requirements: {goal.requirements}</li>
            <>
              <li>Description: {goal.description}</li>
              <li>Complete? {goal.complete ? "✅" : "❌"}</li>
              {goal.completeDate && (
                <li>
                  Complete date: <DateFormat date={goal.completeDate} />
                </li>
              )}
            </>
          </ul>
        </li>
      ))
    }
  </ul>
</div>
