---
const { goals } = Astro.props;
---

<div>
  <h2>My goals:</h2>
  <ul class="goals">
    {
      goals.map((goal) => (
        <li class="goal">
          {goal.title}
          <ul>
            <li>Requirements: {goal.requirements}</li>
            <>
              <li>Description: {goal.description}</li>
              <li>Complete? {goal.complete ? "✅" : "❌"}</li>
            </>
          </ul>
        </li>
      ))
    }
  </ul>
</div>
