---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Oops! Page not found";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>
      Somehow, you got here. Sorry about that! Feel free to use the navigation
      above to try to find your page again.
    </p>
  </div>
</BaseLayout>
