---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

import { sortByDate } from "../utils/sortByDate";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(sortByDate(true));
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Posts</h2>
  <ul>
    {
      sortedPosts.map((post) => (
        <BlogPost url={"/posts/" + post.slug} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
