---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

import { sortPostByPubDate } from "../utils/sortByDate";
import { filterDraft } from "../utils/filterDraft";

const allPosts = await getCollection("posts");
const noDraftPosts = allPosts.filter(filterDraft);
const sortedPosts = noDraftPosts.sort(sortPostByPubDate(true));

const pageTitle = "Blog";
const description = "All posts by me";
---

<BaseLayout meta={{ title: pageTitle, description }}>
  <h2>Posts</h2>
  <ul>
    {
      sortedPosts.map((post) => (
        <BlogPost url={"/posts/" + post.slug} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
