---
import BaseLayout from "../layouts/BaseLayout.astro";
// import Greeting from "../components/Greeting.jsx";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I'm learning Astro!</h2>
  <p>Here's where I'm playing around with it. Have fun!</p>
  <!-- <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
</BaseLayout>
