---
const { platform, username } = Astro.props;
import Icon from "./Icon.astro";
---

<a
  aria-label={platform}
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
  rel="noopener"
>
  <Icon name={platform} class="icon-class" />
</a>

<style>
  a {
    border-radius: 25px;
    padding: 0.5rem 0.5rem;
    color: white;
    background-color: #2460a7;
    text-decoration: none;
  }
</style>
