---
import Social from "../UI/Social.astro";
import DateFormat from "../DateFormat.astro";
---

<footer>
  <div class="socials">
    <Social platform="github" username="gendelbendel" />
    <Social platform="linkedIn" username="in/david-ward-pdx" />
    <Social platform="rss" overrideUrl={Astro.url.origin + "/rss.xml"} />
  </div>
  <p>Copyright © 2023 David Ward</p>
</footer>
